.about {
    padding: 40px;

    &__bg {
        background: url(../images/about/img1.png) center/cover no-repeat;
        min-width: 1360px;
        padding: 40px 100px;
        min-height: 456px;
    }

    &__title {
        padding-left: 200px;
        padding-top: 88px;
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 130%;
        /* or 44px */

        display: flex;
        align-items: center;

        /* Text/2F323A */

        color: #2F323A;
    }

    &__text {
        padding-left: 200px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        /* or 24px */

        display: flex;
        align-items: center;

        /* Text/2F323A */

        color: #2F323A;
    }

}