.bestsellers {
    padding-top: 80px;

    &__title {
        padding-bottom: 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 130%;
        /* or 44px */

        display: flex;
        align-items: center;

        /* Text/2F323A */

        color: #2F323A;
    }

    &__box-block {
        margin-bottom: 16px;
        border: 1px solid #E8E9EA;
    }

    &__box-img {
        justify-content: center;
        display: flex;

        min-width: 278px;
        min-height: 208px;
    }

    &__box-general {
        position: relative;
        justify-content: space-between;
        min-width: 278px;
        min-height: 208px;
        background: #FFFFFF;
        /* BG/E8E9EA */

        border-top: 1px solid #E8E9EA;
    }

    &__box-general-text {
        padding: 16px 16px 0;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        /* or 24px */


        /* Text/2F323A */

        color: #2F323A;
    }

    &__box-general-price {
        position: absolute;
        left: 16px;
        bottom: 80px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        /* identical to box height, or 28px */


        /* Text/171B24 */

        color: #171B24;
    }

    &__box-general-btn {
        position: absolute;
        bottom: 16px;
        left: 16px;
        width: 90%;
        justify-content: center;
        display: flex;
        padding: 12px 80px;
        background: #FCEC41;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 136%;
        /* or 24px */


        /* Text/171B24 */

        color: #171B24;
    }
}