.category {
    &__header {
        display: flex;
        padding-top: 80px;
        justify-content: space-between;

    }

    &__header-title {
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 130%;
        /* or 44px */

        display: flex;
        align-items: center;

        /* Text/2F323A */

        color: #2F323A;
    }

    &__header-btn {
        display: flex;
        padding: 12px 16px 12px 24px;
        gap: 8px;
        align-items: center;

        background: #FFFFFF;
        /* BG/D1D1D3 */

        border: 1px solid #D1D1D3;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 136%;
        /* or 24px */


        /* Text/171B24 */

        color: #171B24;
    }


    &__box-block {
        background: #F6F6F6;
        margin-top: 16px;
    }

    &__box-block-title {
        padding: 12px 12px 16px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 136%;
        /* or 24px */

        text-align: center;

        /* Text/2F323A */

        color: #2F323A;
    }

    &__box-block-img {
        max-width: 180px;
        margin: 0 auto;
    
    }
}