.contacts {
    padding: 80px 0 80px;

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        /* identical to box height, or 58px */

        display: flex;
        align-items: center;

        /* Text/171B24 */

        color: #171B24;
        padding-bottom: 40px;
    }

}

.contacts-info {
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 130%;
        /* or 44px */

        display: flex;
        align-items: center;

        /* Text/2F323A */

        color: #2F323A;
        padding-bottom: 20px;
    }

    .col-4 {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        /* or 27px */

        color: #2F323A;
    }
}
.about{
    padding: 80px 0 80px;
}