.personalArea {
    margin: auto 0;

    &__title {
        padding: 40px 0;
        color: var(--text-171-b-24, #171B24);
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;

    }

    &-reg {
        position: relative;
        height: 604px;
        width: 768px;
        border: 1px solid var(--bgd-1-d-1-d-3, #D1D1D3);
        background: var(--bgffffff, #FFF);
        flex-direction: column;
        align-items: flex-start;
        // gap: 24px;
        padding: 36px;
        margin-bottom: 80px;

        &__title {
            // padding: 36px 36px 24px;
            font-style: normal;
            font-weight: 600;
            font-size: 34px;
            line-height: 130%;
            /* Text/2F323A */

            color: #2F323A;
        }

        &__form {
            // margin-left: 36px;
          
            min-width: 768px;
            width: 100%;
            height: 604px;


        }

        &__box {
            display: flex;
            gap: 16px;
        }

        &__text {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            /* identical to box height, or 24px */

            /* Text/2F323A */

            color: #2F323A;
        }




        &__btn {
            position: absolute;
            bottom: 36px;
            left: 36px;
            display: inline-block;
            // margin-left: 36px;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 136%;
            /* or 24px */


            /* Text/171B24 */

            color: #171B24;
            padding: 12px 24px;
            background: #FCEC41;
        }
    }
}

.text {
    color: #8B8D92;
    border: 0;
    outline: none;
    display: flex;
    margin: 16px 0 24px;
    width: 340px;
    height: 48px;
    padding: 12px 16px;
    background: #F6F6F6;
    border-bottom: 1px solid #D1D1D3;

}

.password {
    color: #8B8D92;
    border: 0;
    outline: none;
    display: flex;
    margin: 16px 0 24px;
    max-width: 340px;
    min-width: 340px;
    min-height: 48px;
    padding: 12px 16px;
    background: #F6F6F6;
    border-bottom: 1px solid #D1D1D3;

}

.email {
    color: #8B8D92;
    border: 0;
    outline: none;
    display: flex;
    margin: 8px 0 24px;
    width: 696px;
    height: 48px;
    padding: 12px 16px;

    background: #F6F6F6;
    border-bottom: 1px solid #D1D1D3;
}